<%- include("../includes/header.ejs") %> <%- include("../includes/nav.ejs") %>

<div class="add-product-div">
  <h2 class="header">Add Product Page</h2>
  <form class="add-product-form" action="/admin/add-product" method="post">
    <label for="title-input">Add product Title</label>
    <input
      type="text"
      id="title-input"
      name="productTitle"
      autocomplete="off"
      required
    />

    <label for="img-input">Add product Image</label>
    <input
      type="text"
      id="img-input"
      name="productImg"
      autocomplete="off"
      required
    />

    <label for="desc-input">Add product Description</label>
    <textarea
      type="text"
      id="desc-input"
      name="productDesc"
      autocomplete="off"
      required
    ></textarea>

    <label for="price-input">Add product Price</label>
    <input
      type="number"
      id="price-input"
      name="productPrice"
      autocomplete="off"
      required
      step="0.01"
    />
    <button type="submit" class="btn submit-btn">Add Product</button>
  </form>
</div>

<%- include("../includes/footer.ejs") %>
