<%- include("../includes/header.ejs") %> <%- include("../includes/nav.ejs") %>

<div class="admin-products-div">
  <h2 class="header">Admin Products Page</h2>
</div>

<%- include("../includes/footer.ejs") %>