<header>
  <nav id="navbar">
    <ul class="nav-ul">
      <li class="li-item"><a href="/" class='<%= path === "/" ? "active" : "" %>'>Home</a></li>
      <li class="li-item"><a href="/shop/products" class='<%= path === "/shop/products" ? "active" : "" %>'>Products</a></li>
      <li class="li-item">
        <a href="/shop/add-product" class='<%= path === "/shop/add-product" ? "active" : "" %>'>Add a Product</a>
      </li>
    </ul>
  </nav>
</header>

<main>
