<%- include("includes/header.ejs") %> 

<%- include("includes/navigation.ejs") %>

<div id="add-product-form-div">
  <h3>Add Your Product Here</h3>
  <form action="/shop/add-product" method="post" class="add-product-form">
    <input type="text" name="product" required autocomplete="off" />
    <button type="submit">Add Product</button>
  </form>
</div>

<%- include("includes/footer.ejs") %>
