<%- include("includes/header.ejs") %> <%- include("includes/nav.ejs") %>

<div class="not-found-div">
  <h2 class="header">Sorry, we couldn't find what you're looking for :(</h2>
  <p class="redirect">Try again or go to <a href="/">Home Page</a></p>
</div>

<%- include("includes/footer.ejs") %>
