@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #02026e;
  --light-primary-color: rgba(238, 245, 255, 0.5);
  --secondary-color: #a4aaff;
  --success-color: #008000;
  --danger-color: #ff0000;
  --para-color: rgb(130, 130, 130);
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* header and navbar */

body header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav#navbar {
  width: 100%;
  background-color: white;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

a.logo {
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

ul.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
  overflow-x: auto;
}

li.nav-item a {
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  color: black;
  font-weight: normal;
}

li.nav-item a.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--para-color);
}

li.nav-item a:hover {
  border-bottom: 2px solid var(--secondary-color);
}

/* body and main  */

body {
  padding-bottom: 1rem;
}

body main {
  margin: 1rem auto;
  margin-top: 5rem;
  width: 80%;
  padding: 1.25rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  padding-bottom: 2rem;
}

body main div {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main div h2.header {
  align-self: center;
}

/* products page  */

ul.products-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

li.product {
  padding: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  gap: 1rem;
  width: 30%;
  min-width: 20rem;
}

li.product h4 {
  width: 100%;
  height: 2rem;
}

li.product img {
  align-self: center;
  width: 14rem;
  height: 14rem;
  /* object-fit: cover; */
  object-fit: contain;
}

li.product p.desc {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: var(--para-color);
}

li.product p.price {
  align-self: flex-end;
}

p.price span {
  font-weight: bold;
  color: var(--primary-color);
}

li.product div.product-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* add-a-products page  */

form.add-product-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form .form-inner-div {
  width: 50%;
}

label {
  align-self: flex-start;
}

input,
textarea {
  width: 100%;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
  resize: none;
}

textarea {
  height: 6rem;
}

input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
  background-color: rgb(238, 245, 255);
}

.actions-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button.btn,
a.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

button.btn:hover,
a.btn:hover {
  background-color: var(--primary-color);
  color: white;
  border-color: transparent;
}

button.lg,
a.lg {
  padding: 0.75rem 1.75rem;
  font-size: 16px;
}

.btn.success {
  border-color: var(--success-color);
  color: var(--success-color);
}
.btn.success:hover {
  background-color: var(--success-color);
  color: white;
  border-color: transparent;
}

.btn.danger {
  border-color: var(--danger-color);
  color: var(--danger-color);
}
.btn.danger:hover {
  background-color: var(--danger-color);
  color: white;
  border-color: transparent;
}

/* 404 not found page */

p.redirect {
  align-self: center;
}

/* shop product details page  */

p.title-header,
p.img-header,
p.desc-header,
p.price-header {
  margin: 0.25rem 0;
  font-weight: bold;
  color: var(--para-color);
  border-bottom: 2px solid var(--para-color);
}

div.product-detail-div img {
  align-self: center;
  width: 20rem;
  height: 20rem;
  /* object-fit: cover; */
  object-fit: contain;
}

div.product-detail-div p.desc {
  /* word-spacing: .5rem; */
  line-height: 2rem;
}

div.product-detail-div p.price {
  font-weight: bold;
  font-size: 16px;
  color: green;
}

div.product-detail-div div.product-actions {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* cart page  */

div.cart-div > h3 {
  align-self: flex-start;
}

div.empty-cart-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart-div > img {
  width: 16rem;
  height: 14rem;
  object-fit: contain;
}

.empty-cart-div > h2 {
  text-align: center;
  color: var(--para-color);
}

.cart-products-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--light-primary-color);
}

.cart-products-div .product-div {
  box-shadow: var(--box-shadow);
  margin: 0.5rem 0;
  background-color: white;
}

.cart-products-div .product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product .img-div {
  width: 30%;
}

.product .img-div img {
  width: 12rem;
  height: 10rem;
  object-fit: contain;
}

.product .info {
  width: 50%;
  align-items: flex-start;
}

.product .info p {
  color: var(--para-color);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.product .info p.price {
  color: black;
}

.product .cart-actions {
  width: 20%;
}

.product .cart-actions p {
  font-size: 20px;
  font-weight: bold;
}

.product-div .product-actions {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart-div hr {
  color: 1px solid var(--para-color);
  width: 100%;
  height: 1px;
}

.cart-total-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: start;
  justify-content: center;
}

.cart-total-div h4.charge {
  justify-self: end;
  color: var(--primary-color);
}

.cart-total-div h4.delivery-charge,
.cart-total-div h3.total-charge {
  color: var(--success-color);
  justify-self: end;
}

.cart-checkout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* mobile screen optimization  */

@media screen and (max-width: 800px) {
  nav#navbar {
    flex-wrap: wrap;
  }

  ul.nav-ul {
    margin-top: 0.5rem;
  }

  li.product {
    width: 50%;
  }

  input,
  textarea {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  nav#navbar {
    padding: 0.25rem 0.5rem;
    justify-content: space-around;
  }

  a.logo {
    justify-content: center;
  }

  body main {
    margin-top: 8rem;
    width: 95%;
  }

  li.product {
    width: 100%;
  }

  input,
  textarea,
  form .form-inner-div {
    width: 100%;
  }

  .actions-div {
    width: 100%;
  }
}
